@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu-l-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-l-webfont.woff') format('woff'),
         url('../fonts/ubuntu-l-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu-r-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-r-webfont.woff') format('woff'),
         url('../fonts/ubuntu-r-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tenor Sans';
    src: url('../fonts/tenorsans-regular-webfont.woff2') format('woff2'),
         url('../fonts/tenorsans-regular-webfont.woff') format('woff'),
         url('../fonts/tenorsans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
